.gamelist{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 70px;
}

.css-1t6e9jv-MuiCardActions-root {

    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.css-1ri6ub7-MuiPaper-root-MuiCard-root {
    width: 300px;
}



.css-1p5q5e5-MuiStack-root {
    background-color: white;
    border-radius: 20px;
}

.coverimg{
    width: inherit;
}

.containerimg{
    align-items: center;
    width: 100%;
}

.addanddelete{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
