@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.aboutdiv{
    display: flex;
    margin: auto;
    margin-top: 90px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.pabout{
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
    color: white;
    width: 600px;

}

.abouttitle{
    color: white;
}