body{
    background-color: rgb(66 66 66) !important;
}

.css-wb57ya-MuiFormControl-root-MuiTextField-root{
    background-color: white;
    border-radius: 10px;

}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root{
    color: white;
}

.css-16g5rpk-MuiGrid-root{
    justify-content: center;
}

.css-16g5rpk-MuiGrid-root{
    justify-content: center !important;
}
.css-ag7rrr-MuiTypography-root{
    color: white;
}

.tyrandediv{
    display: flex;
}

.css-nzinn5-MuiContainer-root{
    margin-left: 200px !important;
}

.tyrande{
    margin-top: 0;
    height: 620px;
    margin-left: 200px;
}

.passwordreq{
    color: #1d86cf !important;
}