
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
.detailedimg{
    width: 60%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.detailedcontainer{
    display: flex;
    flex-direction: column;
   
}

.description{
    color:white;
    font-family: 'Noto Sans', sans-serif;
}

.gametitle{
    margin-top: 100px;
    margin-bottom:50px;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.gametitles{
    display: hidden;
}

.listdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.css-1k9ek97{
    border-radius: 20px;
}

.css-ahj2mt-MuiTypography-root{
    color: black !important;
}
